@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 5px;
}
.nav-font{
    letter-spacing: 1px;
    font-weight: 500;
}
.text-color{
    color: #0BDA51;
}
.title{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 48px;
}
.description{
    width: 400px;
}
.desc{
    color:#00C0F0;
}
.bg-color{
    background-color:rgb(130, 202, 255);
    border-radius: 10px;
    color: azure;
    box-shadow: rgba(130, 202, 255, 0.5) 0px 8px 24px;
}
.bg-color-1{
    background-color: rgb(255, 182, 130);
    border-radius: 10px;
    color: azure;
    box-shadow: rgba(255, 182, 130, 0.5) 0px 8px 24px;
}
.bg-color-2{
    background-color: rgb(144, 238, 144);
    border-radius: 10px;
    color: azure;
    box-shadow: rgba(144, 238, 144, 0.5) 0px 8px 24px;
}
.orange-color{
    color: tomato;
}  
.data  {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    
}
.slogan{
    font-family: 'Source Serif Pro', serif;
    color: navy;
    font-size: 24px;
}
.pink-bg{
    background-color: aliceblue;
    border-radius: 10px;
}
.footer{
    text-align: center;
}
.font{
    font-family: 'Poppins', sans-serif;
}
.input-class{
    border: none;
    border-radius: 4px;
    padding: 7px;
    border-color: lightskyblue;
}

